html { height: 100% }

body { 
  height: 100%; 
  margin: 0px; 
  padding: 0px; 
  background: url('../img/back.jpg') black;
  background-size:cover;
}

#container { width: 100%; height: 100% }

#nav { 
  z-index: 100; 
  position: absolute;
  top:0px; 
  left:0px;
  width:100%;
  height:115px;
  background-color: #1C1C1C;
  text-align:center;
}

#past_art {
  top:45px;
  left:180px;
  position:absolute;
  opacity:0.9;
}

#current_art {
  top:220px;
  left:30px;
  position:absolute;
}

#future_art {
  top:500px;
  left:180px;
  position:absolute;
  opacity:0.9;
}

#future_future_art {
  top:670px;
  left:270px;
  position:absolute;
  opacity:0.7;
}

#title {
  position: relative;
  top:0px;
}

#bluebar {
  position:absolute;
  background-color: #00BBFF;
  z-index:100;
  top:115px; 
  left:0px;
  width:100%;  
  height:40px; 
}

#target {
  position: absolute;
  top:3px;
  right:4px;
}

#search {
  position: absolute;
  top:3px;
  right:40px;
}

#zipcode {
  position: absolute;
  top:3px;
  right:76px;
  padding: 4px;
  border: solid 2px #1C1C1C;
  color: #ffffff;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 250px;
  height:34px;
  background: #1C1C1C;
}

#footer { 
  z-index:100; 
  position:absolute;
  bottom:0px; 
  left:0px;
  width:100%;
  height:45px;
  background-color: #000000;
  text-align:center;
}

#powered {
  position: relative;
  top:0px;
}

#bopfm {
  width:320px;
  height:105px; /* 304 */
  background: url('../img/shelf_bg_closed_v2.png') no-repeat;
  bottom:0px;
  right:5px;
  position:absolute;
  z-index:99;
}

#qrcode {
  bottom:20px;
  right:20px;
  position:absolute;
  z-index:100;
}

#toptitle {
  top:50px;
  right:50px;
  position:absolute;
  z-index:100;
}

#googleapple {
  bottom:50px;
  right:250px;
  position:absolute;
  z-index:100;
}

#freeplay {
  bottom:70px;
  right:450px;
  position:absolute;
  z-index:100;
}

#playingtitle {
  top:280px;
  left:330px;
  position:absolute;
}

#playingartist {
  top:330px;
  left:330px;
  position:absolute;
}

#nowplaying {
  top:180px;
  left:40px;
  position:absolute;
  z-index:100;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
} 

#map-canvas { width: 100%; height: 100% }